{% extends "movie/layout.html" %}

{% block content %}
<a href="/movie/">영화 목록</a>
<a href="/movie/{{movie.pk}}/edit/">영화 수정</a>
<a href="/movie/{{movie.pk}}/delete/">영화 삭제</a> <br>
<hr />
<h2>{{ movie.title }}</h2>

<hr />

<img src="{{ movie.poster.url }}" style="width: 100px;" />

<p style="margin-top:20px ;">
<strong>줄거리</strong>

{{ movie.desc|linebreaks }}
</p>

<p style="margin-top:20px ;">
<strong>영화감독 :</strong> {{ movie.director }}<br>
<strong>주연배우 :</strong> {{ movie.actor }}
</p>

<hr/>

{{ movie.created_at }}
{{ movie.updated_at }}


<hr />
<h3>Reviews</h3>
<ul>
    {% for review in movie.review_set.all %}
    <li>
        {{ review.message }}
        {% comment %} <a href="/movist/movies/{{ movie.pk }}/reviews/{{ review.pk }}/edit/">Edit</a>
        <a href="/movist/movies/{{ movie.pk }}/reviews/{{ review.pk }}/delete/">Delete</a> {% endcomment %}
    </li>
    {% empty %}
    <li>등록된 리뷰가 없습니다. 첫번째 리뷰를 작성해주세요.</li>
    {% endfor %}
</ul>

<script>
    function init() {
        console.log("페이지 초기화 완료");

        // js로 리뷰 목록을 가져와서
        // 웹페이지에 뿌려주겠다.

        // var a = 1; // var 라고 쓰는 것은 옛 시대의 유물.
        // 이제는 const와 let을 씁니다.

        const review_list_url = '{% url "review_list" movie.pk %}';
        // const review_list_url = "/movist/movies/{{ movie.pk }}/reviews/";

        // 지정 주소로 GET 요청을 해서 응답을 받겠다.
        jQuery.get(review_list_url)
            .done((response) => {
                const review_list = response;
                let html = '';
                for (const review of review_list) {
                    html += `
                        <li>
                            ${review.message}
                            by ${review.author.username}
                            <a href="${review.edit_url}">Edit</a>
                            <a href="${review.delete_url}">Delete</a>
                        </li>
                    `;
                }
                document.getElementById("review-list").innerHTML = '<ul>' + html + '</ul>';
            })
            .fail(() => {
                console.error("failed to load");
            })
            .always(() => {}); // 아주 옛스런 방법, or fetch, axios
    }
    jQuery(init);
    // $(init);
</script>



<h3>Review</h3>
<a href="/movie/{{ movie.pk }}/review/new/">리뷰쓰기</a>
<hr />
<ul>
    {% for review in review_list %}
    <li>
        <strong>{{ review.message }}</strong><br>
        <a href="/movie/{{ movie.pk }}/review/{{ review.pk }}/edit/">수정</a>
        <a href="/movie/{{ movie.pk }}/review/{{ review.pk }}/delete/">삭제</a><br>
        {{ review.created_at }}
        {{ review.updated_at }}
    </li>
    
    {% endfor %}
</ul>
<hr />


<h3>예고편</h3>
<a href="/movie/{{ movie.pk }}/video/new/">예고편 추가</a>
<ul>
{% for video in video_list %}
{{ video.name }}
<a href="/movie/{{ movie.pk }}/video/{{ video.pk }}/edit">수정</a>
<a href="/movie/{{ movie.pk }}/video/{{ video.pk }}/delete">삭제</a><br>
<iframe width="560" height="315" src="{{ video.youtube_url }}" title="{{ video.name }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
{% endfor %}

</ul>

<a href="{% url "review_new" movie.pk %}">리뷰쓰기</a>

{% endblock %}