{% extends 'movie/layout.html' %}

{% block content %}
    <a href="/movie/new/">영화 등록</a>
    <a href="/movie/actor/">배우 목록</a>
    <hr/>
    <form action='' method="get">
        <input type="text" name="query" placeholder="검색어를입력해주세요" value="{{ request.GET.query }}" />
        <input type="submit" name="검색" />
        <button>검색</button>
    </form>

    <hr/>

    <ul>
    {% for movie in movie_list %}
        <li>
            <img src="{{ movie.poster.url }}" style="width: 100px;" />

            <a href="/movie/{{ movie.pk }}/">
                {{ movie.title }}
            </a>

            {{ movie.actor }}
            {{ movie.director }}
        </li>
    {% endfor %}
    </ul>
    <hr />
{% endblock %}